body {
    margin: 0;
    padding: 0%;
    background-color: rgba(170, 170, 152, 0.581);
}


header {
    background-color: rgb(66, 63, 63);
}

nav a {
    display: block;
    unicode-bidi: isolate;
    border-bottom: 1px;
    padding: 16px;
    color: coral;
}
div.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

div.grid-item {
    text-align: center;
}








footer {

    display: block;
    unicode-bidi: isolate;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 0px;
    color: coral;
    background-color: rgb(66, 63, 63);
}

img {
    width: 200px;
    height: 200px;
}
